{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
    {# <div class="container pt-3"> #}
    {# <h1>Créer un utilisateur</h1>

    {{ include('admin/user/_form.html.twig', { context: 'NEW'}) }}

    <a href="{{ path('admin_user_index') }}">Retour à la liste</a> #}

    <div class="container">
        <div class="row">
            <div class="col"><br><br><br><br>
                <h1>Créer un utilisateur</h1>

                {{ include('admin/user/_form.html.twig', { context: 'NEW'}) }}

                <a href="{{ path('admin_user_index') }}">Retour à la liste</a>
            </div>
            <div class="col">
               <img src="/image/inscription.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    {% endblock %}
