{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Tell us your stories, tell us your travel ...
{% endblock %}

{% block body %}
<div id="home-bg">
</div>
<div id="home-content">
    <center><h1>"Rester c'est exister mais voyager c'est vivre"</h1></center>
    <center><a href="{}" class="btn btn-primary btn-lg">Suivez-nous</a></center>
</div>
{% endblock %}